body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

h2,
p,
ol {
    margin: 0;
}

main {
    position: relative;
    min-height: 100%;
}

.main-block {
    padding: 32px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-block__wrapper {
    display: flex;
    flex-direction: column;
}

.main-block__left {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}

.main-block__title {
    font-size: 40px;
    font-weight: 500;
}

.main-block__paragraph {
    margin-bottom: 24px;
}

.main-block__btn {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.main-block__btn:hover {
    color: #737373;
}

.main-block__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-block__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.main-block__span {
    margin-right: 8px;
}

.main-block__right {
    width: 100%;
}

.main-block__right-form {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid #000000;
}

.main-block__right-form label {
    font-size: 12px;
}

.main-block__right-form input:not(:last-of-type) {
    margin-bottom: 12px;
}

.main-block__right-form button {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.main-block__right-form button:hover {
    background-color: #fff;
    color: #000000;
}

@media (min-width: 768px) {
    .main-block__wrapper {
        justify-content: space-between;
        flex-direction: row;
    }
    .main-block__left {
        margin: 0;
    }
    .main-block__title {
        font-size: 48px;
    }
    .main-block__right {
        width: 30%;
    }
}